@font-face {
  font-family: 'fontcafe';
  src: url('fontcafe.eot?#iefix') format('embedded-opentype'),  url('fontcafe.woff') format('woff'), url('fontcafe.ttf')  format('truetype'), url('fontcafe.svg#fontcafe') format('svg');
  font-weight: bold;
  font-style: normal;
}
